/*Costumization*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    overflow-x: clip;
    font-family: afacad;
    background-color: rgba(255, 244, 228, 1);
}



@font-face {
    font-family: afacad;
    src: url(./web/files/font/Afacad-VariableFont_wght.ttf);
}

a {
    text-decoration: none;
}

.up {
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    cursor: default;
}

.up:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

html {
    font-size: clamp(16px, 1rem + 0.4vw, 20px);
}

html,
body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/*Anim On Scroll
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in,
.slide-up,
.scale-in,
.container,
.boxskills,
.landingelement h1,
.aboutelement h3,
.aboutflex,
.flexbox {
    opacity: 0;
    will-change: opacity, transform;
}

.fade-in {
    animation: fadeIn 0.6s ease-out forwards;
}

.slide-up {
    transform: translateY(30px);
    animation: slideUp 0.6s ease-out forwards;
}

.scale-in {
    animation: scaleIn 0.6s ease-out forwards;
}


.fade-in.visible {
    animation: fadeIn 0.6s ease-out forwards;
}

.slide-up.visible {
    animation: slideUp 0.6s ease-out forwards;
}

.scale-in.visible {
    animation: scaleIn 0.6s ease-out forwards;
}

.container.visible {
    animation: scaleIn 0.6s ease-out forwards;
}

.boxskills.visible {
    animation: slideUp 0.6s ease-out forwards;
}

.landingelement h1.visible {
    animation: slideUp 0.8s ease-out forwards;
}

.aboutelement h3.visible {
    animation: slideUp 0.6s ease-out forwards;
}

.aboutflex.visible {
    animation: slideUp 0.6s ease-out forwards;
}

.flexbox.visible {
    animation: slideUp 0.6s ease-out forwards;
}

.container:nth-child(1).visible {
    animation: scaleIn 0.6s ease-out 0s forwards;
}

.container:nth-child(2).visible {
    animation: scaleIn 0.6s ease-out 0.1s forwards;
}

.container:nth-child(3).visible {
    animation: scaleIn 0.6s ease-out 0.2s forwards;
}

.boxskills:nth-child(1).visible {
    animation: slideUp 0.6s ease-out 0s forwards;
}

.boxskills:nth-child(2).visible {
    animation: slideUp 0.6s ease-out 0.05s forwards;
}

.boxskills:nth-child(3).visible {
    animation: slideUp 0.6s ease-out 0.1s forwards;
}

.boxskills:nth-child(4).visible {
    animation: slideUp 0.6s ease-out 0.15s forwards;
}

.boxskills:nth-child(5).visible {
    animation: slideUp 0.6s ease-out 0.2s forwards;
}

.boxskills:nth-child(6).visible {
    animation: slideUp 0.6s ease-out 0.25s forwards;
}

.boxskills:nth-child(7).visible {
    animation: slideUp 0.6s ease-out 0.3s forwards;
} 
    */











/*Header*/
.header {
    width: 100%;
    color: rgba(255, 255, 255, 0.50);
    background-color: rgba(0, 20, 40, 1);
    will-change: transform;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    z-index: 99;
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fqzxlogo {
    height: 65px;
    border-radius: 50%;
    background-color: white;
}

.fqzx {
    color: rgba(255, 244, 228, 1);
    font-size: 2.1rem;
}

.header li {
    float: left;
    list-style: none;
}

.header a {
    text-decoration: none;
    list-style: none;
    color: rgba(255, 244, 228, 1);
    font-size: 1rem;
    margin-right: 1rem
}

li a:hover {
    color: grey;
    transition: color 0.3s;
}


/*Main*/
.landing {
    color: rgba(2, 56, 110, 1);
    background-color: rgba(255, 244, 228, 1);
}

.landingelement {
    position: relative;
    min-height: calc(100vh - 10px);
    padding-left: clamp(2rem, 5vw, 8rem); 
    padding-right: clamp(2rem, 5vw, 8rem);
    padding-bottom: 8rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    max-width: clamp(350px, 90vw, 80rem);
    margin: auto;
}

.landing-content {
    width: 100%; 
    position: relative; 
}

.hello {
    font-size: 10rem;
    padding-top: 0;
}

.subject {
    font-size: 1.7rem;
    margin-bottom: 4rem;
}


.mywork {
    font-size: 1.5rem;
    color: rgba(2, 56, 110, 1);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    cursor: default;
}

.mywork:hover {
    color: grey;
    transition: 0.3s;
    transform: translateY(-5px);
    transition: color 0.3s transform 0.3s ease-in-out;
}

/*Web Portpholio Button*/
.button {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    margin-left: 2rem;
    padding: 15px 20px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: rgba(255, 244, 228, 1);
    z-index: 1;
    border-radius: 25px;
}

.button::after,
.button::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.button::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background-color: rgba(2, 56, 110, 1);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.button::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    border-radius: 50px;
}

.button:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.button:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.button:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

.icon {
    position: absolute;
    height: 110px;
    z-index: 98;
    background-color: rgba(2, 56, 110, 1);
    padding: 1rem;
    border-radius: 35px;
    transition: transform 0.3s ease-in-out, box-shadow 1s ease;
}

#icon-one {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 1s ease;
    top: 5rem;
    left: 50rem;
    transform: scale(1.1) rotate(-7deg);
}

#icon-two {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 1s ease;
    top: 8rem;
    left: 60rem;
    transform: scale(1.1) rotate(9deg);
}

#icon-three {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 1s ease;
    top: 16rem;
    left: 53rem;
    transform: scale(1.1) rotate(11deg);
}

#icon-one:hover {
    box-shadow: 0 20px 30px -6px black;
    transition: transform 0.3s ease-in-out, box-shadow 1s ease;
    transform: scale(1.3) rotate(0deg) translateY(-10px);
}

#icon-two:hover {
    box-shadow: 0 20px 30px -6px black;
    transition: transform 0.3s ease-in-out, box-shadow 1s ease;
    transform: scale(1.3) rotate(0deg) translateY(-10px);
}

#icon-three:hover {
    box-shadow: 0 20px 30px -6px black;
    transition: transform 0.3s ease-in-out, box-shadow 1s ease;
    transform: scale(1.3) rotate(0deg) translateY(-10px);
}




/*About Page*/

#about {
    scroll-margin: 15rem;
}

.aboutpage {
    background-color: rgba(2, 56, 110, 1);
    color: rgba(255, 244, 228, 1);
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutelement {
    max-width: clamp(350px, 90vw, 80rem);
    font-size: 1.5rem;
    padding-left: clamp(2rem, 5vw, 8rem);
    padding-right: clamp(2rem, 5vw, 8rem);
    margin: auto;
}

.aboutflex {
    display: flex;
    margin-top: 4rem;
    width: 70vw;
    gap: 5rem;
}

.abouttext {
    font-size: 1rem;
    max-width: 45rem;
}

.myphoto {
    height: 200px;
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
}

.myphoto:hover {
    transform: translateY(-5px) scale(1.5);
    transition: transform 0.3s ease-in-out;
}

.skills {
    margin-top: 3rem;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 40rem;
    margin-top: 1rem;
}

.boxskills {
    background-color: rgba(255, 244, 228, 1);
    width: fit-content;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    cursor: default;
}

.boxskills:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
}

.point {
    padding: 0.5rem;
    font-size: 1rem;
    color: rgba(2, 56, 110, 1);
}


/*Project Page*/

.projectselement {
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 5rem;
    max-width: 70rem;
    margin: auto;
    color: rgba(2, 56, 110, 1);
    overflow-x: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#viewbutton {
    margin-top: 1rem;
    padding: 1rem;
    border: rgba(2, 56, 110, 1) solid 2px;
    border-radius: 10px;
    cursor: default;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: rgba(2, 56, 110, 1);
    background-color: transparent;
    transition: color 2s ease, transform 0.3s ease-in-out, box-shadow 1s ease;
}

#viewbutton:hover {
    color: rgba(255, 244, 228, 1);
    transition: color 2s ease, transform 0.3s ease-in-out, box-shadow 1s ease;
    box-shadow: 0 20px 30px -6px black;
    transform: translateY(-5px);
}

#viewbutton::before {
    content: '';
    width: 0;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(2, 56, 110, 1);
    transition: 1s ease;
    display: block;
    z-index: -1;
}

#viewbutton:hover::before {
    width: 100%;
}

#projects {
    position: relative;
    background-color: rgba(255, 244, 228, 1);
}

.project {
    color: rgba(2, 56, 110, 1);
    font-size: 2rem;
}

.last {
    margin-bottom: 5rem;
}

/*scrool infinite*/

.container {
    background-color: rgba(2, 56, 110, 1);
    padding: 1rem;
    color: rgba(255, 244, 228, 1);
    border-radius: 25px;
    height: auto;
    width: 15rem;
    text-align: center;
    text-align-last: center;
    cursor: default;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.pic {
    height: 100px;
    border-radius: 10px;
}

.title {
    margin-bottom: 1rem;
}

.explain {
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    text-align-last: center;
}

.flexbox {
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow-x: auto;
    mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}

.flexbox::-webkit-scrollbar {
    display: none;
}

.spin {
    flex: 0 0 5rem;
    gap: 5rem;
    padding-right: 5rem;
    display: flex;
    justify-content: center;
    animation: scroll 35s linear infinite;
}

/*Animate*/

@keyframes scroll {
    from {
        translate: 0%;
    }

    to {
        translate: -100%;
    }
}


/*Contact*/

#contact {
    scroll-margin: 5rem;
}

.contactelement {
    max-width: clamp(350px, 90vw, 80rem);
    margin: auto;
}

.contactpage {
    color: rgba(255, 244, 228, 1);
    padding-top: 5rem;
    padding-left: clamp(2rem, 5vw, 8rem);
    padding-right: clamp(2rem, 5vw, 8rem);
    padding-bottom: 5rem;
    background-color: rgba(2, 56, 110, 1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactinfo {
    padding-top: 1rem;
    width: 20rem;
}

.info {
    font-size: x-large;
}

.icons {
    margin-top: 1rem;
}

.icon1 {
    height: 40px;
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
}

.icon1:hover {
    cursor: pointer;
    transform: translateY(-8px);
    transition: transform 0.3s ease-in-out;
}

.icon2 {
    padding: 0.4rem;
    height: 40px;
    margin-left: 0.6rem;
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
}

.icon2:hover {
    cursor: pointer;
    transform: translateY(-8px);
    transition: transform 0.3s ease-in-out;
}

.icon3 {
    padding: 0.2rem;
    height: 40px;
    margin-left: 1rem;
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
}

.icon3:hover {
    cursor: pointer;
    transform: translateY(-8px);
    transition: transform 0.3s ease-in-out;
}

.copyright {
    margin: auto;
    text-align: center;
    color: rgba(255, 244, 228, 1);
    background-color: rgba(0, 20, 40, 1);
    width: 100%;
    padding: 1rem;
}

/*EmailMe*/

.contactflex {
    display: flex;
    align-items: center;
    gap: 5rem;
}

#contacts {
    transform: scale(1);
}

.form-main-title {
    font-size: 25px;
}

.form-container {
    max-width: 600px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    margin: auto;
    margin-top: 80px;
    text-align: center;
}

.contact-form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.1em;
    color: #f0f0f0;
    font-weight: 500;
    text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    box-sizing: border-box;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    transition: border-color 0.3s ease;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    height: 50px !important;
    padding: 0 12px !important;
    display: flex !important;
    align-items: center !important;
    line-height: normal !important;
}

.contact-form textarea {
    padding: 12px;
    resize: vertical;
}

.contact-form ::placeholder {
    color: #bbb;
    opacity: 0.8;
    text-align: center;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    background-color: #007bff;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    will-change: background-color;
}

.submit-button:hover {
    background-color: #0056b3;
}

/*Ipad*/

@media screen and (max-width: 42.667em) {


    /*Landing*/
    .landingelement {
        padding-left: 3rem;
    }

    #icon-one {
        left: 43rem;
    }

    #icon-two {
        left: 53rem;
    }

    #icon-three {
        left: 46rem;
    }

    /*About*/

    .aboutelement {
        padding-left: 3rem;
    }

    .abouttext {
        flex: 5;
        width: 900px;
    }

    /*Contact*/

    .contactelement {
        padding-left: 3rem;
    }

    .contactpage {
        padding-left: 1rem;
    }
}

/*Mobile*/

@media screen and (max-width: 30em) {
    html {
        font-size: 8px;
    }

    .icongroup {
        position: relative;
        position: absolute;
        flex: none;
    }

    .fqzxlogo {
        height: 30px;
    }

    .header {
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
        margin: auto;
    }

    .fqzx {
        font-size: 20px;
    }

    .list a {
        font-size: 15px;
    }

    .landingelement {
        padding: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hello {
        transform: scale(1.1);
    }

    .subject {
        transform: scale(1.3);
    }

    .mywork {
        margin-top: 20rem;
        transform: scale(1.3);
    }

    #viewbutton {
        transform: scale(0.9);
    }

    /*Icons Settings*/
    .icon {
        height: 90px;
        padding: 2.5rem;
        border-radius: 50px;
    }

    .icon {
        display: none;
    }

    #icon-one {
        top: 9rem;
        left: -25rem;
        transform: scale(0.8);
        transform: scale(0.6) rotate(-20deg);
    }

    #icon-one:hover {
        transform: scale(0.9) rotate(0deg) translateY(-10px);
    }

    #icon-two {
        top: 16rem;
        left: 13rem;
        transform: scale(0.8);
        transform: scale(0.6) rotate(20deg);
    }

    #icon-two:hover {
        transform: scale(0.9) rotate(0deg) translateY(-10px);
    }

    #icon-three {
        top: 30rem;
        left: -20rem;
        transform: scale(0.8);
        transform: scale(0.6) rotate(20deg);
    }

    #icon-three:hover {
        transform: scale(0.9) rotate(0deg) translateY(-10px);
    }

    .button {
        transform: scale(0.8);
        margin-left: 1rem;
    }




    /*About Page*/
    .aboutelement {
        padding-left: 3rem;
        align-items: center;
        justify-content: center;
        margin-right: 3rem;
    }

    .aboutflex {
        flex-direction: column;
    }

    .point {
        font-size: 13px;
        width: 100%;
    }

    /*Order Settings*/
    #about {
        padding: unset;
        font-size: 15px;
        text-align: center;
    }

    .abouttext {
        order: 2;
        font-size: 13px;
        width: 100rem;
    }

    .myphoto {
        height: 100px;
        margin: unset;
        padding: unset;
        margin-right: auto;
        margin-left: 3rem;
        margin-top: 5rem;
    }


    /*Project Anim*/

    #projects {
        scroll-margin: 30rem;
    }

    .container {
        width: 200px;
        height: 200px;
    }

    .explain {
        font-size: 10px;
    }

    /*Conact Page*/
    .contactpage {
        padding: unset;
        text-align: center;
        padding-top: 10rem;
    }

    .info {
        font-size: 13px;
        padding: unset;
        margin: unset;
    }

    .contactflex {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
    }

    .contactinfo {
        order: 2;
        text-align: center;
        padding: unset;
        margin: unset;
        margin-bottom: 7rem;
        width: 300px;
    }

    #contacts {
        order: 1;
        transform: scale(0.9);
    }

    .form-container {
        margin-bottom: unset;
        margin-right: 3rem;
    }

    .form-subtitle {
        font-size: 13px;
    }

    .icon2 {
        padding: 0.7rem;
    }

    .icon3 {
        padding: 0.4rem;
    }

}

@media screen and (max-width: 26em) {
    html {
        font-size: 7.3px;
    }

    .icongroup {
        position: relative;
        position: absolute;
        flex: none;
    }

    .fqzxlogo {
        height: 30px;
    }

    .header {
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
        margin: auto;
    }

    .fqzx {
        font-size: 20px;
    }

    .list a {
        font-size: 13px;
    }

    .icon {
        display: none;
    }

    .landingelement {
        padding: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hello {
        transform: scale(1.1);
    }

    .subject {
        transform: scale(1.3);
    }

    .mywork {
        margin-top: 20rem;
        transform: scale(1.3);
    }

    #viewbutton {
        transform: scale(0.9);
    }

    /*Icons Settings*/
    .icon {
        height: 90px;
        padding: 2.5rem;
        border-radius: 50px;
    }

    #icon-one {
        top: 9rem;
        left: -25rem;
        transform: scale(0.8);
        transform: scale(0.6) rotate(-20deg);
    }

    #icon-one:hover {
        transform: scale(0.9) rotate(0deg) translateY(-10px);
    }

    #icon-two {
        top: 16rem;
        left: 13rem;
        transform: scale(0.8);
        transform: scale(0.6) rotate(20deg);
    }

    #icon-two:hover {
        transform: scale(0.9) rotate(0deg) translateY(-10px);
    }

    #icon-three {
        top: 30rem;
        left: -20rem;
        transform: scale(0.8);
        transform: scale(0.6) rotate(20deg);
    }

    #icon-three:hover {
        transform: scale(0.9) rotate(0deg) translateY(-10px);
    }

    .button {
        transform: scale(0.8);
        margin-left: 1rem;
    }




    /*About Page*/
    .aboutelement {
        padding-left: 3rem;
        align-items: center;
        justify-content: center;
        margin-right: 3rem;
    }

    .aboutflex {
        flex-direction: column;
    }

    .point {
        font-size: 13px;
        width: 100%;
    }

    /*Order Settings*/
    #about {
        padding: unset;
        font-size: 15px;
        text-align: center;
    }

    .abouttext {
        order: 2;
        font-size: 13px;
        width: 100rem;
    }

    .myphoto {
        height: 100px;
        margin: unset;
        padding: unset;
        margin-right: auto;
        margin-left: 3rem;
        margin-top: 5rem;
    }


    /*Project Anim*/

    #projects {
        scroll-margin: 30rem;
    }

    .container {
        width: 200px;
        height: 200px;
    }

    .explain {
        font-size: 10px;
    }

    /*Conact Page*/
    .contactpage {
        padding: unset;
        text-align: center;
        padding-top: 10rem;
    }

    .info {
        font-size: 13px;
        padding: unset;
        margin: unset;
    }

    .contactflex {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
    }

    .contactinfo {
        order: 2;
        text-align: center;
        padding: unset;
        margin: unset;
        margin-bottom: 5rem;
        width: 300px;
    }

    #contacts {
        order: 1;
        transform: scale(0.9);
    }

    .form-container {
        margin-bottom: unset;
        margin-right: 3rem;
    }

    .form-subtitle {
        font-size: 13px;
    }

    .icon2 {
        padding: 0.7rem;
    }

    .icon3 {
        padding: 0.4rem;
    }

}

